@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    font-family:"Yu Gothic Medium", "Caveat", "游ゴシック Medium", "YuGothic", "游ゴシック体","ヒラギノ角ゴ pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/*HEADER*/
.logo {
    width: 100px;
    margin-top: 10px;
}

.main-nav {
    display:flex;
    font-size:1.6rem;
    text-transform:uppercase;
    margin-top:25px;
    list-style:none;
    text-shadow: 10px 0px 10px #000000;
    box-shadow:0 0 50px rgba(0, 0, 0, 0.482);
    background:rgba(0, 0, 0, 0.3);
}

.main-nav li {
    margin-left:15px;
    margin-right:15px;
}

.main-nav a {
    color:rgb(255, 255, 255);
}

.main-nav a:hover {
    color:rgb(53, 249, 226);
}

.page-header {
    display: flex;
    justify-content:space-between;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}
/*HOME*/
.home-content {
    text-align: center;
    margin-top: 10%;
    color:rgb(255, 255, 255);
    box-shadow:0 0 30px black;
    background:rgba(24, 53, 33, 0.483);
    text-shadow: 10px 0px 10px #212121;
}

.home-content p {
    font-size: 1.8rem;
    margin: 10px 0 42px;
    color:rgb(255, 255, 255);
    text-shadow: 10px 0px 10px #000000;
}

/*見出し*/
.page-title {
    font-size: 55px;
    font-family: 'Yu Gothic Medium',serif;
    text-transform:uppercase;
    font-weight: normal;
    text-shadow: 10px 0px 10px #000000;
}

/*大きな背景画像*/
.big-bg {
    background-size: cover;
    background-position: center top;
}

#home .page-title {
    text-transform: none;
}

#home {
    background-image:url(images/homebackground.jpg),linear-gradient(rgba(225, 97, 71, 0.723),rgba(44, 218, 0, 0.907));
    background-color:rgba(226, 233, 23, 0.87);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: hard-light;
    min-height:100vh;
    animation: flower-color 15s infinite;
    
}

@keyframes flower-color {
    0% { background-color: #80ff67cf; }
    10% {background-color: #fcd01f; }
    20% { background-color: #f7e845e4; }
    30%{ background-color: #ffed27;}
    50% { background-color: #7dff37ca; }
    75% { background-color: #ffb03bcc; }
    100%{ background-color: #c9ff81cf; }
}

/*モバイル版、レスポンシブ*/
@media (max-width: 600px) {
    .page-title {
        font-size:2.5rem;
    }

    /*HEADER*/
    .main-nav {
    font-size:1.3rem;

    text-align: center;
    text-shadow: 10px 0px 10px #000000;
    }
    
    .main-nav li {
    margin:0 15px;
    }

    /*ホーム*/
    .home-content {
    margin-top:20%;
    }
    .page-header {
    flex-direction: column;
    align-items: center;    
    }
    /*NEWS*/
    .news-content {
        flex-direction:column;
    }
    article,
    aside {
        width:100%;
    }
    #news .page-title {
        margin-top:25px;
    }
    aside {
        margin-top:0px;
    }
    .post-info {
        margin-bottom:20px;
    }
    .post-date {
        width:70px;
        height:70px;
        font-size:1rem;
    }
    .post-date span {
        font-size:0.875;
        padding:2px;
    }
    .post-title {
        font-size:1.375rem;
    }
    .post-cat {
        font-size:0.875rem;
        margin-top:10px;
    }
    .post-title,
    .post-cat {
        margin-left:80px;
    }
    .footer-wrapper2 {
        margin-top:1250px;
    }
 
    /*店舗情報、地図、SNS*/
    #location .wrapper,
    #sns .wrapper {
        flex-direction: column;
    }
    .location-info,
    .location-map,
    .sns-box {
        width:100%;
    }
    .sns-box {
        margin-bottom:30px;
    }
}

/*フッター*/
.wrapper-footer {
    min-height: 100vh;
    position: relative;
}
footer {
    color:white;
    background-color: #000000;
    width:100%;
    text-align: center;
}
/*NEWS*/
#news {
    background-image:url(images/flower3.jpg),linear-gradient(rgb(158, 220, 0),rgb(185, 12, 0));
    height:285px;
    background-blend-mode: hard-light;
    margin-bottom:15px;
    background-color: #b8ff47b4;
}
#news .page-title {
    text-align: center;
    color:rgb(255, 255, 255);
    margin:40px;
}
article img {
    margin-bottom:20px;
    width:650px;
    height:400px;
}
article p {
    margin-bottom:1rem;
}
/*記事部分*/
article {
    width:74%;
}
/*サイドバー部分*/
aside {
    width:22%;
}
.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.post-info {
    position:relative;
    padding-top: 4px;
    margin-bottom: 40px;
}
.post-date {
    background: #0bd;
    border-radius: 50%;
    color:#fff;
    width:100px;
    height:100px;
    font-size:1.625rem;
    text-align: center;
    position:absolute;
    top: 0;
    padding-top:10px;
}
.post-date span {
    font-size: 1rem;
    border-top: 1px rgba(255,255,255,.5) solid;
    padding-top: 6px;
    display:block;
    width:60%;
    margin:0 auto;
}
.post-title {
    font-family:"Yu Mincho", "YuMincho", serif;
    font-size: 2rem;
    font-weight: normal;
}
.post-title,
.post-cat {
    margin-left:120px;
}

article p {
    margin-bottom: 1rem;
}

.sub-title {
    font-size: 1.375rem;
    font-family:"Yu Mincho", "YuMincho", serif;
    padding: 15px 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

aside p {
    padding:12px 10px;
}

aside ul {
    padding:12px 10px;
}

.picture {
    width:200px;
    height:300px; 
}

/*garden*/
#garden {
    background-image:url(images/homebackground.jpg),linear-gradient(rgb(211, 11, 0),rgb(0, 207, 14));
    height:100%;
    min-height: 100vh;
    background-blend-mode: screen;
    background-color: #ffffff93;
    animation: garden-color 20s infinite;
    background-size:cover;
}

.garden-content {
    max-width:550px;
    margin-top:0;
    text-align: center;
    animation: garden-color 20s infinite;
    border-radius: 20px;
    
}

@keyframes garden-color {
    0% { background-color: #80ff67cf; }
    12.5% {background-color: #aedf3c; }
    25% { background-color: #e1dc3ae4; }
    50%{ background-color: #f55d42;}
    75% { background-color: #bbd42aca; }
    90% { background-color: #59c14dcc; }
    100%{ background-color: #80ff67cf;}
}

.garden-content .page-title {
    text-align:center;
    color:rgb(0, 0, 0);
    text-shadow: 10px 0px 10px #ffffff;
    background-color: rgba(253, 244, 122, 0.535);
}

.garden-content p {
    font-size:1.125rem;
    margin:0 0 0;
    color:rgb(0, 0, 0);
    text-shadow: 10px 0px 10px #ffffff;
    text-align:center;
    background-color: rgba(247, 222, 114, 0.743);
}

.grid {
    display:grid;
    gap:26px;
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
    margin-top:85px;
    margin-bottom:5px;
}

.grid  p {
    color:rgb(0, 0, 0);
    background: rgba(206, 206, 206, 0.612);

}

.grid img {
    color:rgb(0, 0, 0);
    background: rgba(206, 206, 206, 0.612);
    border-radius: 20px;
}

#contact {
    background-image: url(images/flower2.jpg),linear-gradient(rgb(232, 21, 2),rgba(20, 93, 21, 0.577));
    height:800px;
    min-height: 100%;
    margin-bottom:40px;
    background-blend-mode: overlay;
    background-color: #5ae55f81;
    background-size: cover;
}

.page-title {
    color:white;
}
/*フォーム*/
form div {
    margin-bottom: 14px;
    color:white;
    text-shadow: 10px 0px 10px #000000;
}

label {
    font-size:1.8rem;
    margin-bottom:10px;
    display:block;
    text-shadow: 10px 0px 10px #000000;
    color:rgb(255, 255, 255);
}

input[type="text"],
input[type="email"],
textarea {
    background:rgba(255, 255, 255, 0.821);
    border:1px #fff solid;
    border-radius: 5px;
    padding:10px;
    font-size:1rem;
}
input[type="text"],
input[type="email"] {
    width:100%;
    max-width:240px;
}
textarea {
    width:100%;
    max-width:480px;
    height:6rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
    background: rgba(255, 255, 255, 0.64);
    color:black;
}
.button {
    font-size:1.2rem;
    background:rgba(35, 254, 239, 0.421);
    color:rgb(255, 250, 250);
    border-radius:5px;
    padding: 8px 32px;
}
.button:hover {
    background:#d9ffb6;
}
/*店舗情報・地図*/
#location {
    padding:4% 0;
}
#location .wrapper {
    display:flex;
    justify-content: space-between;
}
.location-info {
    width:45%;
}
.location-info p {
    padding:12px 10px;
}
.location-map {
    width:74%;
}

/*iframe*/
iframe {
    width:100%;
}
/*SNS*/
#sns {
    background:#FAF7F0;
    padding: 4% 0;
}
#sns .wrapper {
    display:flex;
    justify-content: space-between;
}
#sns .sub-title {
    margin-bottom:30px;
}
.sns-box {
    width:30%;
}
